<html>
  <head>
    <title><%= @hostname %> - A Website...</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body bgcolor=white>

<div>
 ________________
| An ECH test boxen |
 ------------------------
     \
      \
       ("`-'  '-/") .___..--' ' "`-._
         ` *_ *  )    `-.   (      ) .`-.__. `)
         (_Y_.) ' ._   )   `._` ;  `` -. .-'
      _.. `--'_..-_/   /--' _ .' ,4
   ( i l ),-''  ( l i),'  ( ( ! .-'
-----------------------------------------------
<%= @kernel %> <%= @os['name'] %> <%= @os['release']['full'] %>
PE build = <%= @pe_build %>
Agent version = <%= @aio_agent_version %>
Hostname = <%= @hostname %>
IpAddress = <%= @ipaddress %>
-----------------------------------------------
</div>

  </body>
</html>
